h3 {
    color: midnightblue;
    margin-left: 30%;
    text-align: center;
}

h6 {
    color: midnightblue;
    m
}

body {

    margin-left: .05%;
}

.media {
    text-align: left;
    margin-left: 05%;
    margin-right: 05%;
    background-color: ;
   
}

p {
    font-size: larger;
}
body {
    background-color: rgb(169, 240, 233);
}
hr {
    position: relative; 
            top: 20px; 
            border: none; 
            height: 5px; 
            background: midnightblue; 
            margin-bottom: 50px; 
}