h3 {
    color: midnightblue;
    margin-left: 30%;
    text-align: center;
}

h6 {
    color: midnightblue;
    margin-left: 30%;
    text-align: center;
}

body {

    margin-left: .05%;
}

.media {
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    justify-self: center;
}

p {
    font-size: larger;
}