*{ margin: 2px;
    padding: 2px;
 }
 .grid {
    display: grid;
    grid-template-columns: 38% 62%;
    grid-template-areas:
    "name welcome"
    "side1 content1"
    "side2 content2"
    "footer footer";   
 }
 .name {
    grid-area: name;
    justify-self: left;
 }
 .welcome {
    grid-area: welcome;
    justify-self: left;
 
 }
 .side1 {
    grid-area: side1;
 
 }
 /*Because of the fixed img sizes, this does not work minimized window*/
 .content1 {
    grid-area: content1;
    justify-self: left;
    text-align: left;
    padding: 1px;
    border: none
 
 }
 
 .content2 {
    grid-area: content2;
    justify-self: center;
    margin: 120px auto 10px auto;
    padding: 10px;
    border: 5px solid midnightblue;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    text-align: center;
   
 }

 .side1 {
    grid-area: side1;
 }
 .content3 {
    grid-area: content3;
    justify-self: center;
    text-align: center;
    margin: 120px auto 10px auto;
    padding: 10px;
    border: 5px solid midnightblue;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
 }
 .content4 {
    grid-area: content4;
    justify-self: center;
    text-align: center;
    margin: 120px auto 10px auto;
    padding: 10px;
    border: 5px solid midnightblue;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
 }
 .footer{
    grid-area: footer;
 }