body {
    background-color: mistyrose;
}
h1, h2, h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: midnightblue;
    text-align: center;
}
p {
    font-size: large;
    color: rgb(12, 2, 36);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.panoramic {
    align-content: center;
} /* This may be unnecessary.*/
