h1 {
    text-align: center;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    }
#container {
text-align: center;
margin-top: 5%;
margin-left: 10%;
margin-right: 10%;
background-color: aquamarine;
}
#container2 {
    text-align: center;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    background-color:lavender;
    }
body {
    background-color: papayawhip;
}